.contact_success_modal {
  .check_icon {
    font-size: 100px;
    padding: 10px;
    background-color: limegreen;
    color: #fff;
    border-radius: 50%;
    display: block;
    margin: 0 auto 20px auto;
  }
}
