:root {
  --primary-background-color: #000e18;
  --secondary-background-color: #1b2430;
  --input-background: #0d171f;
  --lime-color: #27f3b5;
  --primary-text-color: #ffffff;
  --secondary-text-color: #c5c5c5;
  --testimonial-background-color: #f6f6f6;
}

.primary_bg {
  background-color: var(--primary-background-color) !important;
}
.input_bg {
  background-color: var(--input-background) !important;
}
.lime_green_bg {
  background-color: var(--lime-background) !important;
}
.text_primary {
  color: var(--primary-text-color) !important;
}
.text_secondary {
  color: var(--secondary-text-color) !important;
}

.primary_btn,
.primary_btn:hover {
  background-color: var(--lime-color) !important;
  border-color: var(--lime-color) !important;
  color: #000 !important;
  padding-top: 10px !important;
  padding-bottom: 8px !important;
  font-weight: 600 !important;
}
.cp {
  cursor: pointer;
}
.text_justify {
  text-align: justify;
}

.autoplay-progress {
  position: absolute;
  bottom: 16px;
  z-index: 10;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  fill: none;
  stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
}
